<div class="center">
  <h3>Viajala busca tu vuelo en estos sitios de viajes y decenas más.</h3>
  <div class="row airlines">
    <div class="col-md-12">
      <img src="//cdn.viajala.com/img/partner/avianca_S.png" />
      <img src="//cdn.viajala.com/img/partner/atrapalo_S.png" />
      <img src="//cdn.viajala.com/img/partner/latam_S.png" />
      <img src="//cdn.viajala.com/img/partner/iberia_S.png" />

      <img src="//cdn.viajala.com/img/partner/bestday_S.png" />
      <img src="//cdn.viajala.com/img/partner/almundo_S.png" />
      <img src="//cdn.viajala.com/img/partner/despegar_S.png" />

      <img src="//cdn.viajala.com/img/partner/aviatur_S.png" />
    </div>
  </div>
 
</div>


<app-filter></app-filter>
