/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


.center{
    margin: auto;
    width: 100%;
    padding: 10px
}
